body{
	/* Set the background image */
    background-image: url("pictures/SignInBackground.jpg");
    /* Center and scale the background image */
    background-position: center;
    background-size: cover;
}

#myDiv1{
	max-height: 70%;
	max-width: 600px;
	border-style: solid;
	border-color: gray;
	border-width: 5px;
	border-radius: 28px;
	background-color: white;
	padding:50px;
	/* Center relative to the viewport */
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	overflow:hidden;
}

#myDiv2{
	max-height: 60%;
	max-width: 60%;
	border-style: outset;
	border-color: gray;
	border-width: 5px;
	border-radius: 28px;
	background-color: white;
	padding:50px;
	/* Center relative to the viewport */
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	overflow:hidden;
}

button{
	border-color: white;
	background-color: white;
	font-size: 15px;
	border-radius: 25px;
}

button:hover{
	border-color: green;
	background-color: green;
	color:white;
}

input{
	border-style: solid;
	border-color:lightgray;
}

a{
	color:gray;
	text-decoration: none;
}