body{
	background-color: #E2EAF4;
}

.dark-background {
    background-color: #9E9B9B; /* or any other dark color you prefer */
}

/**
 * 2 rows in the container
 * */
#panel,#sub_panel{
	margin-bottom: 10px;
	padding:10px;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
}

button,.search_input{
	background-color: white;
	border-style: outset;
	border-radius: 25px;
}

.search_input{
	width: 70%;
}

#account:hover,
button:hover{
	border-style: inset;
	border-radius: 25px;
	background-color: lightgray;
	border-width: 1px;
}

#my_account,#setting,#logout,#about{
	margin-bottom: 5px;
	width:100%;
}

#yesno,#about_contact,#setting_detail{
	display:flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}