<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>quiz details</title>

	<!-- Bootstrap file-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<!-- Icon lib -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- CSS -->
	<link rel="stylesheet" href="../static/quiz_page.css">

	<!-- JavaScript -->
	<script src="../static/quiz_page.js"></script>
</head>
<body>
	<div class="container">
		<!-- First row -->
		<div class="row text-center fixed-div" id="panel">
			<!-- First cell -->
			<!-- Label -->
			<div class="col-12">
				<a href="main.html"><img src="../static/pictures/Logo.jpg" alt="Logo"></a>
			</div>

			<!-- Second cell -->
			<!-- Account-->
			<div class="col-4">
				<h3 id="account"><i class="fa-solid fa-file-invoice"></i> Account</h3>
			</div>

			<!-- Third cell -->
			<!-- Search button and search bar-->
			<div class="col-8">
				<form action="/search" method="GET">
					<button class="search_button" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search:</button>
					<input  class="search_input"  type="text" name="q" placeholder="Search...">
				</form>
			</div>
		</div>

		<!-- Second row-->
		<div class="row d-none" id="sub_panel">
			<!-- First cell-->
			<!-- Account info-->
			<div class="col-4">
				<div id="accountInfo" class="d-none">
					<button id="my_account"	>My Account 	<i class="fas fa-user"></i></button>
					<br>
					<button id="setting" 	>Settings 		<i class="fa-solid fa-bars"></i></button>
					<br>
					<button id="logout"  	>Logout 		<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
					<br>
					<button id="about"   	>About 			<i class="fa-solid fa-address-card"></i></button>
				</div>
			</div>

			<!-- Second cell-->
			<!-- Confirmed bar -->
			<div class="col-3 d-none" id="yesno" style="font-size:50px">
				<button id="yes" style="margin-right: 50px;"><i class="fa-solid fa-check" ></i></button>
				<button id="no"                             ><i  class="fa-solid fa-x"     ></i></button>
			</div>

			<!-- Third cell -->
			<!-- Github dev contact label -->
			<div class="col-3 d-none" id="about_contact">
				<a href="https://github.com/alanuwa/cits3403-project/tree/master">
					<i id='github' class="fa-brands fa-github" style="font-size:60px;color:grey"></i>
				</a>
			</div>

			<!-- Fourth cell -->
			<!-- Light and dark mode -->
			<div class="col-2 d-none" id="setting_detail">
				<button id="setting_button" style="font-size:50px">
					<i class="fa-solid fa-moon"  style="margin-right: 30px;"></i>
					<i class="fa-regular fa-sun"></i>
				</button>
			</div>
		</div>

		<!-- Quiz content -->
        <div class="row mt-5">
            <div class="col-12">
                <h2>quiz.title </h2>
                <p>quiz.description </p>
                <form action="" method="POST">
                    <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
                        <div class="mb-4">
                            <h5></h5>
                            <ul class="list-group">
                                    <li class="list-group-item">
                                        <input type="radio" name="" value="" id="">
                                        <label for=""></label>
                                    </li>
                            </ul>
                        </div>
                    <button type="submit" class="btn btn-primary">Submit Quiz</button>
                </form>
            </div>	
        </div>
	</div>
</body>
</html> 